# Core
streamlit
python-dotenv
requests

# LangChain & Vector DB
langchain
langchain-core
langchain-community
chromadb
sentence-transformers

# LLM & Embeddings
openai
huggingface_hub

# PDF / OCR
pypdf
pdf2image==1.17.0
pytesseract
Pillow

# Machine Learning
numpy
scikit-learn
